@font-face {
font-family: FlyboyBB;
src: url("./Fonts/FlyBoyBB.ttf"), url("./Fonts/Aller_Std_Rg.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}
.bottom-left {
  position: relative;
  bottom: 0%;
}
.slight-right {
  position: relative;
  left: 0;
  bottom: 0%
}
.value{
  font-family: Aller;
  font-size: 30px;
  color: black;
  position: relative;
}
.left{
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.right {
  left: 2%;
  bottom: 2%;
}
.results-container {
  position: relative;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

